*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    text-decoration: none;
}


.h-top{
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: orange;
}




.logo{
    width: 37px;
    height: 37px;
}

main{
    width: 100%;
    min-height: 1000px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: aliceblue;
}



main article{
    width: 97%;
    max-width: 900px;
    background-color: white;
    margin-top: 12px;
    margin-bottom: 12px;
}





.set-banner{
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: center;
}



.banner{
    width: 100%;
    background-color: rgb(184, 189, 194);
    height: 500px;
}

.previa{
    width: 100%;
    max-width: 900px;
    min-height: 40px;
}

.set-action{
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: right;
    align-items: center;
}

.set-action a{
    margin-right: 12px;
}

.previa p{
    margin-left: 12px;
}


footer{
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: orange;
}

footer a{
    color: white;
    margin-left: 12px;
}


footer ul{
    display: flex;
    list-style: none;
}